<!DOCTYPE <html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
        <title>Inserir usuário</title>
    </head>
    <body>
        <h2>Inserir novo usuário</h2>
        <form action="/show" method="POST">
            <input type="text" placeholder="Nome" name="nome">
            <input type="text" placeholder="Idade" name="idade">
            <input type="text" placeholder="Status" name="status">
            <button type="submit">Enviar dados</button>
        </form>
    </body>
</html>